<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2>Select a season</h2>

<form  method="post" action="{% url 'homeview' %}">
    {% csrf_token %}
  <label for="fname">First name:</label><br>
  <select id="season" name="season">
      {% for year in season %}
  <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
  <input type="submit" value="Submit">
</form>

<p>
<h3>test</h3>
Testtt {{ form }}
</p>

</body>

</html>